<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>회원관리</title>
    <script src="https://kit.fontawesome.com/d1b79b9b3f.js" crossorigin="anonymous"></script>
    <script src="/js/navBtn.js" defer></script>
    <script src="/js/admin_menu.js" defer></script>
    <script src="/js/boxClose.js" defer></script>
    <script src="https://kit.fontawesome.com/d1b79b9b3f.js" crossorigin="anonymous"></script>
    <script src="/js/navBtn.js" defer></script>
    <script src="/js/admin_menu.js" defer></script>
    <script src="/js/boxClose.js" defer></script>
</head>
<body>
    <div id="container">
        <div id="navbar">
            <div id="nav_logo">
                <i class="fas fa-desktop"></i><a href="/main">개발자1</a>
            </div>
            <ul class="nav_menu">
                <li class="admin_menu"><a th:href="@{/adminboard}">게시판관리</a></li>
                <li class="admin_menu"><a th:href="@{/memberList}">회원관리</a></li>
                <li><a th:href="@{/boardlist}">게시판</a></li>
                <li><a th:href="@{/mypage}">마이페이지</a></li>
                <li><a th:href="@{/logout}">로그아웃</a></li>
                <li>
                    <a href="https://bellasimi.github.io/">
                        <i class="fas fa-blog fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/bellasimi">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </li>
            </ul>
            <div id="nav_Btn">
                <i class="fas fa-bars fa-2x"></i>
            </div>
        </div>
        <div class="section">
            <div class="member-table">
                <h1>회원 관리</h1>
                <ul class="order">
                    <li><a th:href="@{/sortBy(order='views')}">조회수 높은순</a></li>
                    <li><a th:href="@{/sortBy(order='creDate')}">최신순</a></li>
                    <li><a th:href="@{/write}">글쓰기</a></li>
                </ul>
                <table>
                    <thead>
                    <tr>
                        <th>이름</th>
                        <th>ID</th>
                        <th>PW</th>
                        <th>EMAIL</th>
                        <th>전화번호</th>
                        <th>변경</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${not #lists.isEmpty(list)}" th:each="row : ${list}">
                        <td class="text-left"  th:text="${row.name}">

                        </td>
                        <td th:text="${row.id}"></td>
                        <td th:text="${row.pw}"></td>
                        <td th:text="${row.email}"></td>
                        <td th:text="${row.tel}"></td>
                        <td><a th:href="@{/delMember(seq=${row.seqMember})}">강퇴</a></td>
                    </tr>
                    <tr th:unless="${not #lists.isEmpty( list )}">
                        <td colspan="6">조회된 결과가 없습니다.</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:inline="javascript">
    $(document).ready(function(){
       console.log([[${message}]]);
            if([[${message}]] != null){
                $('#messageBox').attr('style','visibility:visible');
            }
       const id = [[${id}]];
       console.log("id는"+id+"입니다.");

       if(id=="admin"){
            $('.admin_menu').attr('style','visibility:visible');
       }

    });
</script>
</body>
</html>