<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>마이페이지</title>
    <script src="/static/js/index.js" defer></script>
    <script src="https://kit.fontawesome.com/d1b79b9b3f.js" crossorigin="anonymous"></script>
    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:inline="javascript">
        window.onload = function(){
            const message = [[${message}]];
            if(message !=null){
                $('#messageBox').attr("style","visibility: visible");
            }
        }
    </script>
</head>
<body>
<div id="container">
    <div id="navbar">
        <div id="nav_logo"><i class="fas fa-desktop"></i><a href="/">개발자1</a></div>
        <ul class="nav_menu">
            <li><a th:href="@{/boardlist}">게시판</a></li>
            <li><a th:href="@{/mypage}">마이페이지</a></li>
            <li><a th:href="@{/adminboard}">게시판관리</a></li>
            <li><a th:href="@{/memberList}">회원관리</a></li>
            <li>
                <a href="https://bellasimi.github.io/">
                    <i class="fas fa-blog fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/bellasimi">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </li>
        </ul>

        <a href="#" id="nav_Btn">
            <i class="fas fa-bars fa-2x"></i>
        </a>

    </div>


    <div class="section">
         <div class="my-contents">
            <span class="my_id" th:text="${id}"></span>님의 게시글
            <table>
                <thead>
                <tr>
                    <th>목록</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일자</th>
                    <th>변경</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${not #lists.isEmpty(myBoardList)}" th:each="row, i: ${myBoardList}">
                    <td th:text="${i.index}"></td>
                    <td th:text="${row.title}"> </td>
                    <td th:text="${row.id}"></td>
                    <td th:text="${row.creDate}"></td>
                    <td>
                        <a th:href="@{/modiform(seq=${row.seqBoard})}">수정</a>
                        <a th:href="@{/adminBDel(seq=${row.seqBoard})}">삭제</a>
                    </td>
                </tr>
                <tr th:unless="${not #lists.isEmpty(myBoardList)}">
                    <td colspan="5">조회된 결과가 없습니다.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="my-reply">
            <span class="my_id" th:text="${id}"></span>님의 댓글
            <table>
                <thead>
                <tr>
                    <th>목록</th>
                    <th>댓글</th>
                    <th>해당글</th>
                    <th>변경</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${not #lists.isEmpty(myReplyList)}" th:each="row, i: ${myReplyList}">
                    <td th:text="${i.index}"></td>
                    <td th:text="${row.replytext}"> </td>
                    <td>
                        <a th:href="@{/boarddetail(seq=${row.seqBoard})}">이동</a>
                    </td>
                    <td>
                        <a th:href="@{/delreply(seq=${row.seqReply},seqB=${row.seqBoard})}">삭제</a>
                    </td>
                </tr>
                <tr th:unless="${not #lists.isEmpty(myReplyList)}">
                    <td colspan="5">조회된 결과가 없습니다.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="messageBox" style="visibility: hidden" th:text="${message}">

    </div>

</div>
</body>
</html>