<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>게시글목록</title>
    <script src="https://kit.fontawesome.com/d1b79b9b3f.js" crossorigin="anonymous"></script>
    <script src="/static/js/index.js" defer></script>
    <script src="/static/js/admin_menu.js" defer></script>
    <script src="/static/js/boxClose.js" defer></script>
</head>

<script  src="https://code.jquery.com/jquery-latest.min.js"></script>
<script th:inline="javascript">
    window.onload=function(){
        let message = [[${message}]];
    console.log(message);
         if(message != null){
             $("#messageBox").attr("style","visibility:visible;z-index: 2;position: absolute; top: 0px;left: 0px; width: 100%; font-size:12pt;");
             //$("#messageBox").height($(document).height());
         }

    }



</script>

<body>

    <div id="container">
        <div id="navbar">
            <div id="nav_logo">
                <i class="fas fa-desktop"></i><a href="/">개발자1</a>
            </div>
            <ul class="nav_menu">
                <li><a th:href="@{/boardlist}">게시판</a></li>
                <li><a th:href="@{/mypage}">마이페이지</a></li>
                <li class="admin_menu"><a th:href="@{/adminboard}">게시판관리</a></li>
                <li class="admin_menu"><a th:href="@{/memberList}">회원관리</a></li>
                <li>
                    <a href="https://bellasimi.github.io/">
                        <i class="fas fa-blog fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/bellasimi">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </li>
            </ul>
            <div id="nav_Btn">
                <i class="fas fa-bars fa-2x"></i>
            </div>
        </div>
        <div class="section">

            <div class="board-table">
            <h1>게시글목록</h1>
                <ul class="order">
                    <li><a th:href="@{/sortBy(order='views')}">조회수 높은순</a></li>
                    <li><a th:href="@{/sortBy(order='creDate')}">최신순</a></li>
                </ul>
                <table>
                    <thead>
                    <tr>
                        <th>목록</th>
                        <th>작성자</th>
                        <th>제목</th>
                        <th>작성일자</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${not #lists.isEmpty( list2 )}" th:each="row : ${list2}">
                        <td th:text="${row.seqBoard}"></td>
                        <td th:text="${row.id}"></td>
                        <td>
                            <a th:href="@{/boarddetail(seq=${row.seqBoard})}" th:text="${row.title}"></a>
                        </td>
                        <!--오류 :링크 get방식? 이거 아닌가
                           <a th:href="/readdetail?seq=${row.seqBoard}" th:text="${row.seqBoard}"></a>-->
                        <td th:text="${row.creDate}"></td>
                        <td th:text="${row.views}"></td>
                    </tr>
                    <tr th:unless="${not #lists.isEmpty( list2 )}">
                        <td colspan="5">조회된 결과가 없습니다.</td>
                    </tr>
                    </tbody>
                </table>


                <div id="messageBox" th:if="${not #strings.isEmpty(message)}" th:text="${message}" style="">
                    <button type="button" id="closeMsgBtn">
                        <i class="fas fa-times fa-2x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>