<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>게시글목록</title>
    <script src="https://kit.fontawesome.com/d1b79b9b3f.js" crossorigin="anonymous"></script>
    <script src="/js/navBtn.js" defer></script>
    <script src="/js/admin_menu.js" defer></script>
    <script src="/js/boxClose.js" defer></script>

</head>

<script  src="https://code.jquery.com/jquery-latest.min.js"></script>
<script th:inline="javascript">
    window.onload=function(){
        /*<![CDATA[*/ /*]]*/
        let id= [[${detail.id}]];
        console.log("아이디: "+id);
        let creDate= [[${detail.creDate}]];
        console.log("작성일: "+creDate);
        let pw= [[${detail.pwBoard}]];
        console.log("비번: "+pw);
        let replylist = [[${replylist}]];
        console.log("댓글"+replylist);

    }
    /* 글 수정*/
    function checkMPw(){
        /*변수를 주소에 get방식으로 보내면 String으로 인식 그냥 el식으로 바로 넘겨야 int로 인식
        let seq= [[${detail.seqBoard}]];*/
        let pwBoard= [[${detail.pwBoard}]];
        if([[${detail.id}]]!=null || [[${detail.id}]]==''){
            let pw = prompt("글작성 시 입력했던 비밀번호를 입력하시오!","");
            if(pw==pwBoard){
                window.location.href="/modiform?seq="+[[${detail.seqBoard}]];
            }
            else{
                alert("비밀번호가 일치하지 않습니다!");
            }
        }//id가 존재하는 경우
        else{
            alert("로그인 후 이용해 주세요!")
            location.href="/loginform";
        }
    }

    /* 글 삭제*/
    function checkDPw(){
        let seq= [[${detail.seqBoard}]];
        let pwBoard= [[${detail.pwBoard}]];
        let pw = prompt("글작성 시 입력했던 비밀번호를 입력하시오!","");
        if(pw==pwBoard){
            window.location.href="/delete?seq="+seq;
        }
        else{
            alert("비밀번호가 일치하지 않습니다!")
        }
    }


    /*댓글 비번 확인 후 수정 삭제*/
    function checkPw(work,index,seqReply,pwReply,rgroup){

        console.log("댓글 비번:"+ pwReply);
        console.log("인덱스:"+ index);

        /*비번이 null*/
        if(pwReply==null) {
            if (work == "삭제") {
                location.href = "/delreply?seq=" +seqReply+ "&seqB=" +[[${detail.seqBoard}]];
            } else if (work == "수정") {

                const table = document.getElementById('reply-table');
                const reReplyRow = table.insertRow(index);
                const reReplyBox1 = reReplyRow.insertCell(0);
                const reReplyBox2 = reReplyRow.insertCell(1);
                const reReplyBox3 = reReplyRow.insertCell(2);
                reReplyBox3.colSpan = "2";

                //const reReplyBox4 = reReplyRow.insertCell(3);

                //seqReply = parseInt(seqReply); 이렇게 해도 아래처럼 작성하면 seqReply를 string으로 인식
                reReplyBox1.innerText = "댓글 수정";
                reReplyBox2.innerHTML = "아이디:" + [[${detail.id}]] + "<p></p>게시판번호" + [[${detail.seqBoard}]] +  "<p></p>댓글번호: ";
                reReplyBox3.innerHTML = "<form action='/modireply' method='post'>" +
                    "작성자<input type='text' name='id' th:placeholder='" + [[${detail.id}]] + "' th:value='" + [[${detail.id}]] + "'><p></p>" +
                    "                        <textarea name='replytext' cols='100 'rows='5' ></textarea><p></p>" +
                    "                        비밀번호<input type='text' name='pwReply'><p></p>" +
                    "                        게시판번호<input type='text' name='seqBoard' th:value='" + [[${detail.seqBoard}]] + "'>" +
                    "                        댓글번호<input type='text' name='seqReply' th:value='" + seqReply + "'>" +
                    "                        <button type='submit'>댓글수정</button>" +
                    "      <button type='button' onclick='closeReply(" + index + ")'>취소</button>" +
                    " <a href='javascript:closeReply(" + index + ")'>댓글수정취소</a></form>";

            }else if(work=="대댓"){
                const table = document.getElementById('reply-table');
                const reReplyRow =table.insertRow(index);
                const reReplyBox1 = reReplyRow.insertCell(0);
                const reReplyBox2 = reReplyRow.insertCell(1);
                const reReplyBox3 = reReplyRow.insertCell(2);
                const reReplyBox4 = reReplyRow.insertCell(3);
                reReplyBox4.colSpan ="2";
                //seqReply = parseInt(seqReply); 이렇게 해도 아래처럼 작성하면 seqReply를 string으로 인식
                reReplyBox2.innerText="대댓";
                reReplyBox3.innerHTML="아이디:" + [[${detail.id}]] + "<p></p>게시판번호" + [[${detail.seqBoard}]] +  "<p></p>댓글번호: " + seqReply
                    + "<p></p>그룹번호: " + rgroup;
                reReplyBox4.innerHTML="<form action='/rereply' method='post'>"+
                    "작성자<input type='text' name='id' th:placeholder='"+ [[${detail.id}]]+  "' th:value='"+ [[${detail.id}]]+ "'><p></p>" +
                    "                        <textarea name='replytext' cols='100 'rows='5' ></textarea><p></p>" +
                    "                        비밀번호<input type='text' name='pwReply'><p></p>" +
                    "                        게시판번호<input type='text' name='seqBoard' th:value='"+ [[${detail.seqBoard}]]+ "'>" +
                    "                        그룹번호<input type='text' name='Rgroup' th:value=''>" +
                    "                        <button type='submit'>대댓글달기</button>" +
                    "      <button type='button' onclick='closeReply(" +index+ ")'>취소</button>"+
                    " <a href='javascript:closeReply(" +index+ ")'>취소</a></form>";



            }//대댓
        }// 비번이 null인 경우

        /*비번이 존재할 때*/
        else{

            let seqBoard= [[${detail.seqBoard}]];
            let pw = prompt("댓글 비밀번호를 입력하시오!","");
            /*비번이 일치하는 경우*/
            if(pw == pwReply){

                if(work=="삭제"){

                    location.href = "/delreply?seq=" +seqReply+ "&seqB=" +[[${detail.seqBoard}]];
                }
                else if(work=="수정"){

                    //location.href="/modireply?seq="+seqReply; 이거 안하고 폼으로 전달
                    const table = document.getElementById('reply-table');
                    console.log("테이블"+table+"존재");
                    const reReplyRow =table.insertRow(index);
                    const reReplyBox1 = reReplyRow.insertCell(0);
                    const reReplyBox2 = reReplyRow.insertCell(1);
                    const reReplyBox3 = reReplyRow.insertCell(2);
                    const reReplyBox4 = reReplyRow.insertCell(3);

                    //seqReply = parseInt(seqReply); 이렇게 해도 아래처럼 작성하면 seqReply를 string으로 인식
                    reReplyBox1.innerText="댓글 수정";

                    reReplyBox2.innerHTML = "아이디:" + [[${detail.id}]] + "<p></p>게시판번호" + [[${detail.seqBoard}]] +  "<p></p>댓글번호: ";
                    reReplyBox3.innerHTML = "<form action='/modireply' method='post'>" +
                        "작성자<input type='text' name='id' th:placeholder='" + [[${detail.id}]] + "' th:value='" + [[${detail.id}]] + "'><p></p>" +
                        "                        <textarea name='replytext' cols='100 'rows='5' ></textarea><p></p>" +
                        "                        비밀번호<input type='text' name='pwReply'><p></p>" +
                        "                        게시판번호<input type='text' name='seqBoard' th:value='" + [[${detail.seqBoard}]] + "'>" +
                        "                        댓글번호<input type='text' name='seqReply' th:value='" + seqReply + "'>" +
                        "                        <button type='submit'>댓글수정</button>" +
                        "      <button type='button' onclick='closeReply(" + index + ")'>취소</button>" +
                        " <a href='javascript:closeReply(" + index + ")'>댓글수정취소</a></form>";
                    reReplyBox3.colSpan ="2";
                    /* html에서 쓰는 변수el식으로 타임리프 value 지정
                     reReplyBox2.innerHTML="<form action='/modireply' method='post'>" + [[${detail.id}]]+"댓글번호"+ seqReply + [[${detail.seqBoard}]]+

                     "작성자<input type='text' name='id' th:placeholder='${detail.id}' th:value='${detail.id}'><p></p>" +
                     "                        <textarea name='replytext' cols='100 'rows='5' ></textarea><p></p>" +
                     "                        비밀번호<input type='text' name='pwReply'><p></p>" +
                     "                        <input type='hidden' name='seqBoard' th:value='${detail.seqBoard}'>" +
                     "                        댓글번호<input type='text' name='seqReply'>" +
                     "                        <button type='submit'>댓글수정</button>" +
                     "                        <button type='button' onclick='closeReply(" +index+ ")'>취소</button>"+
                     " <a href='javascript:closeReply(" +index+ ")'>댓글수정취소</a></form>"*/

                    /* javascript에서 쓰는 변수로 타임리프 value 지정
                    reReplyBox2.innerHTML="<form action='/modireply' method='post'>" + [[${detail.id}]]+ seqReply + [[${detail.seqBoard}]]+
                        "작성자<input type='text' name='id' th:placeholder='"+ [[${detail.id}]]+ "' th:value='"+ [[${detail.id}]]+ "'><p></p>" +
                        "                        <textarea name='replytext' cols='100 'rows='5' ></textarea><p></p>" +
                        "                        비밀번호<input type='text' name='pwReply'><p></p>" +
                        "                        <input type='text' name='seqBoard' th:value='"+ [[${detail.seqBoard}]]+ "'>" +
                        "                        <input type='text' name='seqReply' th:value='"+ seqReply + "'>" +
                        "                        <button type='submit'>댓글수정</button>" +
                        "                        <button type='button' onclick='closeReply(" +index+ ")'>취소</button>"+
                        " <a href='javascript:closeReply(" +index+ ")'>댓글수정취소</a></form>"
                */
                    //여기선 값이 html까지 전달됨... 근데 html에서 서버로 보낼 때는 값이 안가... 왜지..
                    /*$.ajax({
                              type : "post",
                              async : "false"
                              url: "/modireply",
                              data: {
                                  id: id,
                                  pwReply: pwReply,
                                  seqBoard; seqBoard,
                                  seqReply: seqReply,
                                  replytext: replytext,

                                },
                              //method: "GET",
                              //dataType: "json"
                              success : function(data, textStatus) {
                                  console.log("ajax성공시: "+data.trim());
                                  alert(data.trim());
                               },
                               error : function(data, textStatus) {
                                   alert("에러가 발생했습니다."+data);
                               }

                          });//ajax*/


                }//수정
                /*대댓*/
                else if(work=="대댓"){
                    const table = document.getElementById('reply-table');
                    const reReplyRow =table.insertRow(index);
                    const reReplyBox1 = reReplyRow.insertCell(0);
                    const reReplyBox2 = reReplyRow.insertCell(1);
                    const reReplyBox3 = reReplyRow.insertCell(2);
                    const reReplyBox4 = reReplyRow.insertCell(3);
                    reReplyBox4.colSpan ="2";
                    //seqReply = parseInt(seqReply); 이렇게 해도 아래처럼 작성하면 seqReply를 string으로 인식
                    reReplyBox2.innerText="대댓";
                    reReplyBox3.innerHTML="아이디:" + [[${detail.id}]] + "<p></p>게시판번호" + [[${detail.seqBoard}]] +  "<p></p>댓글번호: " + seqReply
                        +  "<p></p>그룹번호: " + rgroup;
                    reReplyBox4.innerHTML="<form action='/rereply' method='post'>"+
                        "작성자<input type='text' name='id' th:placeholder='"+ [[${detail.id}]]+  "' th:value='"+ [[${detail.id}]]+ "'><p></p>" +
                        "                        <textarea name='replytext' cols='100 'rows='5' ></textarea><p></p>" +
                        "                        비밀번호<input type='text' name='pwReply'><p></p>" +
                        "                        게시판번호<input type='text' name='seqBoard' th:value='"+ [[${detail.seqBoard}]]+ "'>" +
                        "                        그룹번호<input type='text' name='Rgroup' th:value=''>" +
                        "                        <button type='submit'>대댓글달기</button>" +
                        "      <button type='button' onclick='closeReply(" +index+ ")'>취소</button>"+
                        " <a href='javascript:closeReply(" +index+ ")'>취소</a></form>";



                }//대댓
            }//댓글 비번 일치하는 경우

            else{
                alert("비밀번호가 일치하지 않습니다!");
            }// 비번이 일치하지 않는 경우
        }// 비번이 존재할 때
    }
    /*박스 visiblity 유뮤*/
    function visibility(box,status){
        let boxid = document.getElementById(box);
        boxid.setAttribute("style","visibility:"+status);

    }
    function closeReply(index){
        const table = document.getElementById('reply-table');
        table.deleteRow(index);
    }
</script>
<body>

<div id="container">
    <div id="navbar">
        <div id="nav_logo">
            <i class="fas fa-desktop"></i><a href="/main">개발자1</a>
        </div>
        <ul class="nav_menu">

            <li class="admin_menu"><a th:href="@{/adminboard}">게시판관리</a></li>
            <li class="admin_menu"><a th:href="@{/memberList}">회원관리</a></li>
            <li><a th:href="@{/boardlist}">게시판</a></li>
            <li><a th:href="@{/mypage}">마이페이지</a></li>
            <li><a th:href="@{/logout}">로그아웃</a></li>
            <li>
                <a href="https://bellasimi.github.io/">
                    <i class="fas fa-blog fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/bellasimi">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </li>
        </ul>
        <div id="nav_Btn">
            <i class="fas fa-bars fa-2x"></i>
        </div>
    </div>
    <div class="section">

        <div class="board-table">
            <h1>글내용 </h1>
            <a id="bookmark" th:href="@{/bookmark(seq=${detail.seqBoard},title=${detail.title})}">
                <i class="far fa-bookmark fa-2x" ></i>
            </a>
            <ul class="board-detail_menu">
                <li>
                    <a href="javascript:checkMPw()">수정</a>
                </li>
                <li>
                    <a href="javascript:checkDPw()">삭제</a>
                </li>
            </ul>
            <table>
                <thead>
                    <tr><th>제목</th>
                        <td colspan="3" th:text="${detail.title}">

                            <!--<i class="fas fa-bookmark fa-2x" ></i>-->
                        </td>
                    </tr>
                    <tr>
                        <th>작성자</th>
                        <td th:text="${detail.id}"></td>
                        <th>작성일자 </th>
                        <td th:text="${detail.creDate}"></td>
                    </tr>
                </thead>
                <tbody>

                <tr>
                    <td class="context" colspan="4" th:text="${detail.context}"></td>
                </tr>
                <tr th:if="${#strings.isEmpty(detail.id)}">
                    <td colspan="4">삭제된 글입니다.</td>
                </tr>
                <tr>
                    <th colspan="4">댓글달기</th>
                </tr>
                <tr th:if="${not #strings.isEmpty(detail.id)}">
                    <td></td>
                    <td colspan="3">
                        <div class="reply-form" >
                            <form action="/reply" method="post">
                                    <input type="hidden" name="seqBoard" th:value="${detail.seqBoard}">
                                    <input type="hidden" name="Rindex" th:value="0">

                                <div class="in-area">
                                    <input type="text" name="id" id="id" th:placeholder="${detail.id}" th:value="${detail.id}" required>
                                    <label for="id">작성자</label>
                                </div>
                                <div class="con-area">
                                    <textarea name="replytext" cols="auto" rows="7" class="replytext" ></textarea>
                                </div>
                                <div class="in-area">
                                    <input type="text" name="pwReply" id="pwReply">
                                    <label for="pwReply">비밀번호</label>
                                </div>
                                <div class="btn-area">
                                    <button type="reset" class="btn-no">초기화</button>
                                    <button type="submit" class="btn-yes">댓글달기</button>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>

            <!--댓글-->
            <table id="reply-table">
                <tr th:if="${not #lists.isEmpty(replylist)}" th:each="row,i : ${replylist}" >
                    <!--<th th:if="${row.rindex == '0'}"></th>&lt;!&ndash;목차 th:text="${i.index}"&ndash;&gt;-->
                    <th th:unless="${row.rindex == '0'}"> &emsp;&emsp;  </th>
                    <th th:unless="${row.rindex == '0'}" > →</th>
                    <th th:if="${not #strings.isEmpty(row.id) and row.rindex == '0'}" th:text="${row.id}" colspan="3"></th>
                    <th th:if="${not #strings.isEmpty(row.id) and row.rindex != '0'}" th:text="${row.id}"></th>
                    <td th:text="${row.replytext}"></td>
                    <td class="board-table_menu">
                        <a th:href="|javascript:checkPw('수정',${i.index +1},${row.seqReply},${row.pwReply},${row.rgroup})|">댓글수정</a>
                        <a th:href="|javascript:checkPw('삭제',${i.index +1},${row.seqReply},${row.pwReply},${row.rgroup})|">댓글삭제</a>
                        <a th:href="|javascript:checkPw('대댓',${i.index +1},${row.seqReply},${row.pwReply},${row.rgroup})|">대댓글</a>
                    </td>
                </tr>

            </table>



        </div>
    </div>
</div>
<script  src="https://code.jquery.com/jquery-latest.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function(){
       console.log([[${message}]]);
            if([[${message}]] != null){
                $('#messageBox').attr('style','visibility:visible');
            }
       const id = [[${id}]];
       console.log("id는"+id+"입니다.");

       if(id=="admin"){
            $('.admin_menu').attr('style','visibility:visible');
       }

    });
</script>
</body>
</html>