<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>게시글작성</title>
    <script src="https://kit.fontawesome.com/d1b79b9b3f.js" crossorigin="anonymous"></script>
    <script src="/js/index.js" defer></script>
    <script src="/js/admin_menu.js" defer></script>
</head>
<body>
    <div id="container">
        <div id="navbar">
            <div id="nav_logo">
                <i class="fas fa-desktop"></i><a href="/main">개발자1</a>
            </div>
            <ul class="nav_menu">
                <li><a th:href="@{/boardlist}">게시판</a></li>
                <li><a th:href="@{/mypage}">마이페이지</a></li>
                <li class="admin_menu"><a th:href="@{/adminboard}">게시판관리</a></li>
                <li class="admin_menu"><a th:href="@{/memberList}">회원관리</a></li>
                <li><a th:href="@{/logout}">로그아웃</a></li>
                <li>
                    <a href="https://bellasimi.github.io/">
                        <i class="fas fa-blog fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/bellasimi">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </li>
            </ul>
            <div id="nav_Btn">
                <i class="fas fa-bars fa-2x"></i>
            </div>
        </div>

        <div class="write-form">
            <h1>게시글 작성</h1>
            <form action="/writeSave" method="post">
                <input type="hidden" name="id" th:value="${id}"><p>
                <input type="hidden" name="creDate" id="creDate" value="">
               <!--client마다 현재시간이 다름, form에서 값을 넣는 거 보다 controller에서  server시간을 넣어줄것!
                -->
                <div class="in-area">
                    <input type="text" name="title" id="title" autocomplete="off" required>
                    <label for="title">제목</label>
                </div>
                <div class="con-area">
                    <textarea name="context" rows="20" cols="80" id="context"> </textarea>
                </div>
                <div class="in-area">
                    <input type="text" name="pwBoard" id="pwBoard" autocomplete="off" required>
                    <label for="pwBoard">비밀번호</label>
                    <h3>비밀번호는 숫자 4자로 입력해주세요</h3>
                </div>
                <div class="btn-area">
                    <button type="reset" class="btn-no">초기화</button>
                    <button type="submit" class="btn-yes">작성</button>
                </div>
            </form>
        </div>
    </div>
    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>

        $(document).ready(function(){

        });

    <script th:inline="javascript">
    $(document).ready(function(){
        <!--클라이언트 시간 넘겨주는 방법 현재사용 x
        let date1= new Date();
        let Y = date1.getFullYear();
        let m = date1.getMonth()+1;
        let d = date1.getDate();

        if(m<10){ m="0"+m;}
        if(d<10){ d="0"+d; }
        let creDate =Y+"-"+m+"-"+d;

        /*
         어째서인지 jqeury attr가 먹히지 않는다 -> 이거 th:inline="javascript"하니까 해결
             $("input[id=creDate]").attr("value","STR_TO_DATE("+"'"+creDate+"'"+",'%Y-%m-%d')");*/
        console.log(creDate);
        console.log("STR_TO_DATE("+"'"+creDate+"'"+",'%Y-%m-%d')");

        /*
        그냥 자바스크립트 매소드로 넘김*/
        document.getElementById("creDate").setAttribute("value",creDate);-->


        console.log([[${message}]]);

        if([[${message}]] != null){
            $('#messageBox').attr('style','visibility:visible');
        }

       const id = [[${id}]];

       console.log("id는"+id+"입니다.");

       if(id==null ||id==''){
            alert("로그인 후 이용할 수 있습니다!");
            location.href="/loginform";
       }
       if(id=="admin"){
            $('.admin_menu').attr('style','visibility:visible');
       }

    });
</script>
</body>
</html>