<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>로그인 페이지</title>
    <script src="/static/js/index.js" defer></script>
    <script src="https://kit.fontawesome.com/d1b79b9b3f.js" crossorigin="anonymous"></script>
    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/boxClose.js" defer></script>
    <script th:inline="javascript">
        window.onload = function(){
            console.log([[${message}]]);
            if([[${message}]] != null){
                $('#messageBox').attr('style','visibility:visible');
            }
        }

    </script>

</head>
<body>
<div id="container">
    <div id=navbar>
        <div id="nav_logo"><i class="fas fa-desktop"></i><a href="/">개발자1</a></div>
        <ul class="nav_menu">
            <li>
                <a href="https://bellasimi.github.io/">
                    <i class="fas fa-blog fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/bellasimi">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
    <a href="#" id="nav_Btn">
        <i class="fas fa-bars fa-2x"></i>
    </a>
&emsp;&emsp;
&emsp;&emsp;
    <div class="login-form">
        <h1>로그인</h1>
        <form action="/login" method="post">
            <div class="in-area">
                <input type="text" name="id" id="id" autocomplete="off" required>
                <label for="id">ID</label>
            </div>
            <div class="in-area">
                <input type="password" name="pw" id="pw" autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
            <div class="btn-area">
                <button type="submit" class="btn-yes">로그인</button>
                <button type="reset" class="btn-no">취소</button>
            </div>
        </form>

    </div>

    <ul class="login-menu">
        <li><a href="/memberForm">회원가입</a></li>
        <li><a href="/searchId">아이디 찾기</a></li>
        <li><a href="/searchPw">비밀번호 찾기</a></li>
    </ul>

    <div id="messageBox" th:if="${not #strings.isEmpty(message)}" th:text="${message}">
        <button type="button" id="closeMsgBtn">
            <i class="fas fa-times fa-2x"></i>
        </button>
    </div>
</div>
</body>
</html>