<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>로그인 완료</title>
    <script src="https://kit.fontawesome.com/d1b79b9b3f.js" crossorigin="anonymous"></script>
    <script src="js/index.js" defer></script>
    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:inline="javascript">
    window.onload =function(){
        const id =[[${id}]];
        console.log("아이디:"+id);
        if(id == "admin"){
            $('.admin_menu').attr('style','visibility: visible');
        }
    }

    </script>
</head>
<body>
<div id="container">
    <div id="navbar">
        <div id="nav_logo"><i class="fas fa-desktop"></i><a href="/">개발자1</a></div>
        <ul class="nav_menu">
            <li><a th:href="@{/boardlist}">게시판</a></li>
            <li><a th:href="@{/mypage}">마이페이지</a></li>
            <li class="admin_menu"><a th:href="@{/adminboard}">게시판관리</a></li>
            <li class="admin_menu"><a th:href="@{/memberList}">회원관리</a></li>
            <li>
                <a href="https://bellasimi.github.io/">
                    <i class="fas fa-blog fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/bellasimi">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </li>
        </ul>

        <a href="#" id="nav_Btn">
           <i class="fas fa-bars fa-2x"></i>
        </a>

    </div>
    <div id="article">

        <span th:text="${id}"></span>님 로그인 완료됐습니다!<p></p>
        <button type="button" onclick="location.href='/write'">글쓰러 가기</button>

    </div>
</div>
</body>
</html>