<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/d1b79b9b3f.js" crossorigin="anonymous"></script>
    <title>회원가입완료</title>
    <script src="https://kit.fontawesome.com/d1b79b9b3f.js" crossorigin="anonymous"></script>
    <script src="/js/index.js" defer></script>
    <script src="/js/admin_menu.js" defer></script>
    <script src="/js/boxClose.js" defer></script>
</head>
<body>

<div id="container">
    <div id="navbar">
        <div id="nav_logo"><i class="fas fa-desktop"></i><a href="/">개발자1</a></div>
            <ul class="nav_menu">
                <li><a th:href="@{/boardlist}">게시판</a></li>
                <li><a href="/loginform">로그인</a></li>
                <li>
                    <a href="https://bellasimi.github.io/">
                        <i class="fas fa-blog fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/bellasimi">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </li>
            </ul>

            <a href="#" id="nav_Btn">
                <i class="fas fa-bars fa-2x"></i>
            </a>

    </div>
    <div id="article">

        <span th:text="${name}">님</span> <span th:text="${id}"></span>라는 id로 가입되셨습니다.<p></p>
    </div>
</div>
</body>
</html>