<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>회원가입</title>
    <script src="https://kit.fontawesome.com/d1b79b9b3f.js" crossorigin="anonymous"></script>

    <script src="/js/navBtn.js" defer></script>
    <script src="/js/admin_menu.js" defer></script>
    <script src="/js/showPw.js"defer ></script>
    <script src="/js/boxClose.js" defer></script>

    <script src="/js/signInCheck.js" defer></script>


</head>
<body>
<div id="container">
    <div id="navbar">
        <div id="nav_logo">
            <i class="fas fa-desktop"></i><a href="/main">개발자1</a>
        </div>
        <ul class="nav_menu">
            <li><a href="/loginform">로그인</a></li>
            <li>
                <a href="https://bellasimi.github.io/">
                    <i class="fas fa-blog fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/bellasimi">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </li>
        </ul>
        <div id="nav_Btn">
            <a href="#"><i class="fas fa-bars fa-2x"></i></a>
        </div>
    </div>

    <div class="signin-form">
        <h1>회원가입</h1>
        <form action="/memberSave" method="post" id="signinForm">
            <div class="in-area">
                <input type="text" name="id" id="id" autocomplete="off" required>
                <label for="id">ID</label>

            </div>
                <button type="button" id="checkIdBtn" >중복체크</button>
            <div class="in-area">
                <input type="password" name="pw" id="pw" autocomplete="off" required>
                <label for="pw">PASSWORD</label>
                <i class="fas fa-eye" id="showPwBtn"></i>
            </div>
            <div class="in-area">
                <input type="text" name="name" id="name" autocomplete="off" required>
                <label for="name">이름</label>
            </div>

            <div class="in-area" >
                <input type="text" name="email" id="email" autocomplete="off" required>
                <label for="email">EMAIL</label>
            </div>

            <div class="in-area">
                <input type="text" name="tel" id="tel" autocomplete="off" required >
                <label for="tel" class="telLabel">전화번호</label>

                <h3>전화번호는 - 없이 연속으로 입력해주세요!</h3>
            </div>
            <div class="btn-area">
                <button type="button" class="btn-yes">회원가입</button>
                <button type="reset" class="btn-no">취소</button>
            </div>

        </form>

    </div>
    <div id="messageBox" th:if="${not #strings.isEmpty(message)}" th:text="${message}">
        <button type="button" id="closeMsgBtn">
            <i class="fas fa-times fa-2x"></i>
        </button>
    </div>
</div>
<script  src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
    $(document).ready(function(){

        checkIdBtn.addEventListener('click',()=>{
          if(id.value==""){
                alert("id는 영문숫자혼합 4-12자로 입력해주세요!");
            }
            else{
                $.ajax({
                    type : "post",
                    async : "false",
                    url: "/checkId",
                    data: {
                        id: id.value

                    },
                    success : function(data, textStatus) {
                        console.log("ajax성공시: "+data.trim());
                        alert(data.trim());
                    },
                    error : function(data, textStatus) {
                        alert("에러가 발생했습니다!"+data);
                    }

                });//ajax*/

            }//조건문 끝



        });//클릭이벤트

    });//ready

</script>
</body>

</html>