<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">
<th:block layout:fragment="title">
    <title>게시글목록</title>
</th:block>
<script th:inline="javascript">
    window.onload=function(){
        /*<![CDATA[*/ /*]]*/
        let id= [[${detail.id}]];
        console.log("아이디: "+id);
        let creDate= [[${detail.creDate}]];
        console.log("작성일: "+creDate);
        let pw= [[${detail.pwBoard}]];
        console.log("비번: "+pw);
    }
   /* 글 수정*/
     function checkMPw(){
        /*변수를 주소에 get방식으로 보내면 String으로 인식 그냥 el식으로 바로 넘겨야 int로 인식
        let seq= [[${detail.seqBoard}]];*/
         let pwBoard= [[${detail.pwBoard}]];
         if([[${detail.id}]] != null || [[${detail.id}]] == ''){
         let pw = prompt("글작성 시 입력했던 비밀번호를 입력하시오!","");
         if(pw==pwBoard){
             window.location.href="/modiform?seq="+[[${detail.seqBoard}]];
         }
         else{
             alert("비밀번호가 일치하지 않습니다!");
         }
         }//id가 존재하는 경우
         else{
             alert("로그인 후 이용해 주세요!")
             location.href="/loginform";
         }
     }

   /* 글 삭제*/
   function checkDPw(){
       let seq= [[${detail.seqBoard}]];
       let pwBoard= [[${detail.pwBoard}]];
       let pw = prompt("글작성 시 입력했던 비밀번호를 입력하시오!","");
       if(pw==pwBoard){
           window.location.href="/delete?seq="+seq;
       }
       else{
           alert("비밀번호가 일치하지 않습니다!")
       }
   }


</script>
<th:block layout:fragment="search">
    <form action="#" id="searchform-header" class="searchform js__toggle active pull-right">
        <input type="search" placeholder="Search..." class="input-search">
        <button class="mdi mdi-magnify button-search" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
</th:block>
<h1>글내용</h1>
<th:block layout:fragment="content">
    <div class="table-responsive clearfix">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>작성자</th>
                <th>제목</th>
                <th>작성일자</th><!-- 추후등록 -->
            </tr>
            </thead>
            <tbody>

                <td th:text="${detail.id}"></td>
                <td th:text="${detail.title}"></td>
                <!--추후 추가예정
                <td th:text="${detail.creDate}"></td>-->
            </tr>
            <tr>
                    <th>내용</th>
            </tr>
            <tr>
                <td th:text="${detail.context}"></td>
            </tr>
            <tr th:if="${#strings.isEmpty(detail.id)}">
                <td colspan="5">조회된 결과가 없습니다.</td>
            </tr>
            </tbody>
        </table>
        <!--클릭이 안돼
        <a th:onclock="|checkMPw()|">수정</a>
        <a th:onclock="|checkDPw()|">삭제</a>-->

      <button type="button" onclock="|checkMPw()|">수정</button>
        <button type="button" onclock="|checkDPw()|">삭제</button>
        <a href="javascript:checkMPw()">수정</a> &emsp; &emsp;
        <a href="javascript:checkDPw()">삭제</a>&emsp;

 <!--           <a th:href="@{/modiform(seq=${detail.seqBoard})}">수정</a> &emsp; &emsp;
            <a th:href="@{/delete(seq=${detail.seqBoard})}">삭제</a>&emsp; -->&emsp;
            <a th:href="@{/write}">글쓰기</a>


    </div>
</th:block>
</html>