<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">
<th:block layout:fragment="title">
    <title>게시글목록</title>
</th:block>

<style>
    #messageBox{
    visibility:hidden;z-index: 2;position: absolute; top: 100px;left: 100px; width: 100%; font-size:12pt; border: 1px solid black; background-color: white;

    }

</style>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script th:inline="javascript">
    window.onload=function(){
        let message = [[${message}]];
    console.log(message);
         if(message != null){
             $("#messageBox").attr("style","visibility:visible;z-index: 2;position: absolute; top: 0px;left: 0px; width: 100%; font-size:12pt;");
             //$("#messageBox").height($(document).height());
         }

    }
    function boxclose() {
            $("#messageBox").attr("style","visibility:hidden");
    }


</script>
<th:block layout:fragment="search">
    <form action="#" id="searchform-header" class="searchform js__toggle active pull-right">
        <input type="search" placeholder="Search..." class="input-search">
        <button class="mdi mdi-magnify button-search" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
</th:block>
<h1>게시글목록</h1>
<th:block layout:fragment="content">
    <div class="table-responsive clearfix">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>목록</th>
                <th>작성자</th>
                <th>제목</th>
                <th>작성일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty( list2 )}" th:each="row : ${list2}">
                <td th:text="${row.seqBoard}"></td>
                <td th:text="${row.id}"></td>
                <td>
                    <a th:href="@{/boarddetail(seq=${row.seqBoard})}" th:text="${row.title}"></a>
                </td>
                <!--오류 :링크 get방식? 이거 아닌가
                   <a th:href="/readdetail?seq=${row.seqBoard}" th:text="${row.seqBoard}"></a>-->
                <td th:text="${row.creDate}"></td>
            </tr>
            <tr th:unless="${not #lists.isEmpty( list2 )}">
                <td colspan="5">조회된 결과가 없습니다.</td>
            </tr>
            </tbody>
        </table>

        <div class="btn_wrap text-right">
            <a th:href="@{/write}">글작성</a>
            <a th:href="@{/}">로그아웃</a>
            <a th:href="@{/}">로그아웃</a>
        </div>

        <div id="messageBox" style="">
            <p th:text="${message}"></p>
            <button type="button" onclick="boxclose()">닫기</button>
        </div>
    </div>
</th:block>
</html>