<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">
<th:block layout:fragment="title">
    <title>게시글목록</title>
</th:block>

<th:block layout:fragment="search">
    <form action="#" id="searchform-header" class="searchform js__toggle active pull-right">
        <input type="search" placeholder="Search..." class="input-search">
        <button class="mdi mdi-magnify button-search" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
</th:block>
<h1>글내용</h1>
<th:block layout:fragment="content">
    <div class="table-responsive clearfix">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>작성자</th>
                <th>제목</th>
                <th>작성일자</th><!-- 추후등록 -->
            </tr>
            </thead>
            <tbody>

                <td th:text="${detail.id}"></td>
                <td th:text="${detail.title}"></td>
                <!--추후 추가예정
                <td th:text="${detail.creDate}"></td>-->
            </tr>
            <tr>
                    <th>내용</th>
            </tr>
            <tr>
                <td th:text="${detail.context}"></td>
            </tr>
            <tr th:if="${#strings.isEmpty(detail.id)}">
                <td colspan="5">조회된 결과가 없습니다.</td>
            </tr>
            </tbody>
        </table>

            <a th:href="@{/modiform(seq=${detail.seqBoard})}">수정</a> &emsp; &emsp;
            <a th:href="@{/delete(seq=${detail.seqBoard})}">삭제</a>&emsp; &emsp;
            <a th:href="@{/write}">글쓰기</a>



    </div>
</th:block>
</html>