<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>게시글작성</title>
</head>
<body>
<form action="/writeSave" method="post">
    <h1>게시글 작성</h1>
    <input type="hidden" name="id" th:value="${id}"><p>
    제목<input type="text" name="pw"><p>
    <textarea rows="20" cols="10" name="name"></textarea><p>

    비밀번호<input type="text" name="pwBoard"><p>
    <input type="submit" value="작성">
    <input type="reset" value="초기화">
</form>
</body>
</html>