/*@font-face {
    font-family: abster;
    src:url("/font/abster-webfont.woff") format("woff");
}*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

:root {
    --text-color: white;
    --caption-color: black;
    --hover-color: #d49466;
    --dark-hover-color: darksalmon;
    --nav-color: #161514;
    --explain-color: #999999;
    --th-color: #d49466;
    --th-text-color: white;
    --td-text-color: black;
    --td-color: white;

}

#container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    /*
    background: url(/images/coding.jpg),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    */
}

#navbar {
    color: var(--text-color);
    width: 100%;
    height: auto;
    margin: 0 auto; /*margin-left: auto margin-right: auto 한것과 같아*/
    padding: 10px 100px 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);

}

#navbar #nav_logo {
    align-items: center;
    padding: 10px 20px;
    display: flex;
}

#navbar #nav_logo i {
    margin-right: 20px;
    background-color: var(--hover-color);

}

#navbar #nav_logo a {
    text-decoration: none;
    font-size: 27px;
    color: var(--text-color);

}

/* navbar에서 style 지정하고 있음
.nav_menu {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    !*background-color: red;*!
    align-items: center;
}*/
.nav_menu  {
    display: flex;
    padding-top: 10px;
}

.nav_menu li {
    /* display: inline-block; 리스트가 한줄로 나옴 가로정렬 */
    margin: 0 10px;
    list-style: none;
}

.nav_menu li a {
    text-decoration: none;
    padding: 10px 12px 10px 12px;
    color: var(--text-color);
}

.nav_menu li a:hover {
    color: var(--hover-color);
}

/*.nav_menu li:hover {
    background-color: gold;
    border-radius: 5px;
}*/

.nav_menu .admin_menu {
    visibility: hidden;
}

.nav_menu .admin_menu .active {
    visibility: visible;
}

#nav_Btn{
    position: absolute;
    right: 32px;
    top: 28px;
    color: var(--text-color);
    display: none;
}

#article {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: var(--text-color);
    text-align: center;

}

#article h1 {
    color: var(--text-color);
    font-size: 60px;
    margin: 10px 0px 10px 0px;
}

#article #caption {
    color: var(--caption-color);

}

#article p {
    color: var(--text-color);
    font-size: 22px;
}

#article button {
    background: none;
    border: 2px solid white;
    color: var(--text-color);
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: all .4s;
}

#article button a {
    color: var(--text-color);
    text-decoration: none;
    padding: 15px 20px 20px 20px;
}
#article h1:hover {
    backgroundcolor: var(--nav-color);

}
#article button:hover {
    backgroundcolor: gold;

}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#login::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right:0;
    bottom:0;
    left: 0;

}

.login-form {
    position: relative;
    z-index: 2;
    width: 400px;
    margin: 0 auto;


}

.login-form h1{
    color: var(--text-color);
    text-align: center;
    margin: 200px 0px 50px 0px;
}


.signin-form {
    position: relative;
    z-index: 2;
    width: 400px;
    margin: 0 auto;
    color: var(--text-color);

}

.signin-form h1{
    color: var(--text-color);
    text-align: center;
    margin: 200px 0px 50px 0px;
}

.signin-form h2{
    color: var(--text-color);
    text-align: center;
   margin-bottom: 10px;
}

.signin-form h3 {
    color: var(--explain-color);
    font-size: 14px;

}

.search-form {
    position: relative;
    z-index: 2;
    width: 400px;
    margin: 0 auto;
    color: var(--text-color);

}

.search-form h1{
    color: var(--text-color);
    text-align: center;
    margin: 200px 0px 50px 0px;
}

.search-form h2{
    color: var(--text-color);
    text-align: center;
    margin-bottom: 10px;
}

.search-form h3 {
    color: var(--explain-color);
    font-size: 14px;

}

.write-form {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%,0);
}

.write-form h1 {
    margin-bottom: 35px;
    color: var(--text-color);
    text-align: center;
    font-size: 20pt;

}


.write-form .in-area {
    width: 556px;
    margin: 10px 0px 10px 0px;
}
.write-form .in-area h3 {
    color: var(--explain-color);
    font-size: 14px;
}

.write-form .btn-area {
    display: flex;
}

.write-form .btn-area .btn-no {
    margin-top: 0px;
    border-radius: 0px;
    border: solid 1px var(--explain-color);
}

.write-form .btn-area .btn-yes{
     border-radius: 0px;
}

.in-area {
    width: 400px;
    position: relative;
    margin-top: 20px;
}

.in-area:first-child {
    margin-top: 0;
}
.in-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-xize: 18px;
    color: var(--text-color);
    outline: none;
    margin: 0px auto;
}

.in-area label {
    position: absolute;
    left: 10px;
    top: 15px;
    color: var(--text-color);
    transition: all .5s ease;

}
.in-area input:focus +label,
.in-area input:valid +label {
    top: -2px;
    font-size: 14px;
    color: var(--hover-color);
}
.btn-area {
    margin-top: 30px;
}

.btn-area button {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all .5s ease-out;
}

.btn-area .btn-yes {
    background-color: var(--hover-color);
    color: var(--text-color);

}

.btn-area .btn-yes:hover {
    background-color: var(--dark-hover-color);
}
.btn-area .btn-no {
    margin-top: 10px;
    color: #999999;
}

.btn-area .btn-no:hover {
    color: var(--hover-color);
}

.login-menu {
    text-align: center;
}

.login-menu li {
    display: inline-block;
    margin: 40px 40px 10px 40px;
    color: #999999;
}

.login-menu li a {
    text-decoration: none;
    color: #999999;
    font-size: 14px;
}

.login-menu li a:hover {
    color: var(--hover-color);
}

.section {
    width: 70%;
    height: 80%;
    margin: 0 auto;

}

.my-contents {
    margin-top: 100px;
    height: auto;
    /*border: solid 1px white;*/
    color: var(--text-color);
}

.my-reply {
    margin-top: 100px;
    /*border: solid 1px white;*/
    color: var(--text-color);
}

.my-contents table, .my-reply table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}

.my-contents table th, .my-reply table th {
    background-color: var(--th-color);
    color: var(--th-text-color);
    padding: 10px 10px;
}

.my-contents table td, .my-reply table td {
    background-color: var(--td-color);
    color: var(--td-text-color);
}
.board-table {
    margin-top: 100px;
    height: auto;
    /*border: solid 1px white;*/
    color: var(--text-color);

}

.board-table h1 {
    margin-bottom: 100px;
}

.board-table .order {
    list-style: none;
    display: flex;
    justify-content: right;
    text-align: right;
    padding: 10px 10px;

}

.board-table .order li {
    margin-left: 10px;

}

.board-table .order a {
    text-decoration: none;
    font-size: 10pt;
    color: var(--explain-color);
    cursor: pointer;

}

board-table .order a:hover {
    color: var(--dark-hover-color);
}

.board-table table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}

.board-table th {
    background-color: var(--th-color);
    color: var(--th-text-color);
    padding: 10px 10px;
}

.board-table td {
    background-color: var(--td-color);
    color: var(--td-text-color);
}

.member-table {
    margin-top: 100px;
    height: auto;
    /*border: solid 1px white;*/
    color: var(--text-color);

}

.member-table table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    margin: 100px auto auto auto;
    text-align: center;
}

.member-table th {
    background-color: var(--th-color);
    color: var(--th-text-color);
    padding: 10px 10px;
}

.member-table td {
    background-color: var(--td-color);
    color: var(--td-text-color);

}

#messageBox {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 7px;
    visibility: hidden;
    z-index: 2;
    height: 120px;
    width: 270px;
    font-size: 12pt;
    text-align: center;
    padding-bottom: 10px;
}
#messageBox button {
    position: absolute;
    top:5px;
    left: 90%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    #container #article img {
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 825px) {

    #navbar {
        flex-direction: column;
    }

    #nav_logo {
        align-items: flex-start;
    }
    .nav_menu {
        display: none;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;
    }

    #nav_Btn {
        display: block;
    }

    .nav_menu li {
        align-items: flex-start;
        padding: 10px 0px 10px 0px;
        width: 100%;
        text-align: center;
    }

    .nav_menu .admin_menu {
        visibility: hidden;
    }

    #container #article img {
       width: 100%;
       height: 100%;
       position: relative;
       top: 20px;
    }

    .nav_menu.active {
        display: flex;
    }

    .nav_menu .admin_menu .active {
        visibility: visible;
        display: flex;
    }
}