<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>로그인 완료</title>
    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:inline="javascript">
    window.onload =function(){
        const id =[[${id}]];
        console.log("아이디:"+id);
        if(id == "admin"){
            $('#admindiv').attr('style','visibility: visible');
        }
    }

    </script>
</head>
<body>
<span th:text="${id}"></span>님 로그인 완료됐습니다!

<a href="/write">글쓰기</a>
<a th:href="@{/boardlist}">게시판보기</a>
<a th:href="@{/mypage}">마이페이지</a>

<div id="admindiv" style="visibility: hidden">
<a th:href="@{/adminboard}">게시판관리</a>
<a th:href="@{/memberList}">회원관리</a>
</div>
<button type="button" onclick="location.href='/boardlist'">게시판보기</button>
<!--얘는 안됨
<button type="button" th:onclick="/boardlist">게시판보기</button>-->
</body>
</html>